doctype html
html(lang="en")
    include includes/_head
    include includes/_body
        #particles-js
        audio(src="assets/audio/spaceship-cruising-ufo-7176 (1).mp3" loop controlsList="nodownload")
        .container-fluid 
            .container
                include includes/components/_audioBtn
                main.row.d-flex.justify-content-center.align-items-center  
                    include includes/components/_solarImage
                    section.col-12.col-lg-6.col-xl-5.align-self-start.z-100#form_wrapper
                            include includes/components/_form
                include includes/components/_copyright
    include includes/_scripts