body {
  background-color: #020917;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #020917;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* ---- particles.js container ---- */
}
#particles-js canvas {
  display: block;
  vertical-align: bottom;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.pulse {
  overflow: visible;
  position: relative;
}
.pulse::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
          animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
.z-100 {
  z-index: 100;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom_tooltip {
  --bs-tooltip-bg: #e13a5a;
}

#form_wrapper {
  overflow: hidden;
  height: 500px;
}
#form_wrapper #signup__form {
  z-index: -4;
  transform: translateY(-600px);
}

form {
  transition: all 0.5s ease;
  background-color: rgba(54, 54, 54, 0.2196078431);
  caret-color: peru;
  width: inherit;
  height: inherit;
}

.text-peru {
  color: peru;
}

.active_input, input.char_input:focus + label, .filled {
  color: peru;
  top: -13px !important;
  left: 11px !important;
}

.filled {
  color: #858585;
}

input {
  transition: 0.3s ease;
}
input.char_input {
  outline: 0;
  border: 2px solid #404040;
  background-color: #303030;
  color: #f5f5f5;
  padding: 15px;
  padding-left: 30px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
input.char_input::-moz-selection {
  background-color: rgb(240, 161, 82);
  color: #101010;
  font-weight: bold;
}
input.char_input::selection {
  background-color: rgb(240, 161, 82);
  color: #101010;
  font-weight: bold;
}
input.char_input:focus {
  border: 2px solid peru;
}
input.char_input:focus::-moz-placeholder {
  opacity: 1;
}
input.char_input:focus:-ms-input-placeholder {
  opacity: 1;
}
input.char_input:focus::placeholder {
  opacity: 1;
}
input.char_input::-moz-placeholder {
  color: #f5f5f5;
  opacity: 0;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input.char_input:-ms-input-placeholder {
  color: #f5f5f5;
  opacity: 0;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
input.char_input::placeholder {
  color: #f5f5f5;
  opacity: 0;
  transition: all 0.3s;
}

label {
  cursor: pointer;
  color: #f5f5f5;
  font-size: 1rem;
}
label.char_label {
  top: 15px;
  left: 33px;
  transition: all 0.2s;
  z-index: 1;
}
label.char_label::before {
  content: "";
  height: 5px;
  background-color: #303030;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.form_icon {
  left: 10px;
}
.form_icon.see_Password {
  right: 30px;
  left: initial;
  cursor: pointer;
  color: #ccc;
}

.forgot_link {
  color: #cd853f;
  transition: 0.5s ease;
}
.forgot_link:hover {
  color: #fdac5b;
}

.check_icon {
  transition: color 0.3s;
  color: #f5f5f5;
}

.remember_input:checked + .check_icon {
  color: lightgreen !important;
}

#sign_up_ct_link, #login_ct_link {
  transition: 0.5s ease;
}
#sign_up_ct_link:hover, #login_ct_link:hover {
  color: #fdac5b;
}

.capsLockTextMsg {
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
  color: yellow;
}
.capsLockTextMsg::before {
  content: "";
  width: 8px;
  display: inline-block;
  border-radius: 100%;
  height: 8px;
  background-color: yellow;
  margin-right: 5px;
}

#copyright {
  padding-top: 30px;
}
#copyright > span {
  color: #fdac5b;
}
#copyright > a {
  color: #cd853f;
  transition: 0.5s ease;
}
#copyright > a:hover {
  color: #fdac5b;
}

#solar_system_wrapper {
  z-index: 100;
}

#form_wrapper {
  z-index: 100;
}

#sound_effect_button {
  transform: rotate(-30deg);
  border: 0 !important;
}
#sound_effect_button:hover {
  color: #232323 !important;
}

.disable {
  color: #dc143c !important;
}
.disable:hover {
  color: #eb3b5e !important;
  transform: scale(1.09);
}/*# sourceMappingURL=style.css.map */