#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $main_dark_bg;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    // z-index: 100;
    canvas {
        display: block;
        vertical-align: bottom;
    } /* ---- particles.js container ---- */
}
.count-particles {
    border-radius: 0 0 3px 3px;
}
