.row.text-center.text-white
    footer.user-select-none.z-100#copyright Made with 
        span
            i.fa-solid.fa-heart
        |  by 
        a.text-decoration-none(href='https://github.com/Silent-Watcher' target='_blank') silentWatcher
        time 2022
        |  ©